 .DS_Store
.netrwhist
npm-debug.log

plug.vim.old

config/nvim/sessions
config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/autoload/plug.vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
zsh/env.sh
